.ballot {
  &__header {
    text-align: left;

    h3 {
      @extend %font-20;
      background-color: $color-gray;
      color: $color-primary;
      padding: 10px 8px;

      /* Change the font size to 16px when the screen size is less than 500px. */
      @include media("xs", "<") {
        font-size: 16px;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
