.ballot {
  &__header {
    text-align: left;

    h3 {
      @extend %font-20;
      background-color: $color-gray;
      color: $color-primary;
      padding: 10px 8px;

      /* Change the font size to 16px when the screen size is less than 500px. */
      @include media("xs", "<") {
        font-size: 16px;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__submit__button {
    align-self: end;
    background-color: $color-accent;
    border: 2px solid darken($color-accent, 5px);
    color: $color-primary;
    cursor: pointer;
    padding: 10px 15px;
    outline: none;
    text-transform: uppercase;

    &:active {
      transition: transform 0.3s;
      transform: scale(0.97);
    }

    &:hover {
      background-color: darken($color-accent, 4px);
      color: $color-highlight;
      transition: color 0.3s;
    }
  }
}
